span.cargoFieldName {
	color: #777;
}

table.cargoTable {
	border-collapse: collapse;
}

/**
 * Handling of "zebra striping" in tables is different based on
 * whether or not the "merge similar cells" parameter was set.
 */
table.cargoTable.noMerge tr:nth-child(odd) {
	background: #fff;
}

table.cargoTable.noMerge tr:nth-child(even) {
	background: #eee;
}

table.cargoTable.mergeSimilarCells td.odd {
	background: #fff;
}

table.cargoTable.mergeSimilarCells td.even {
	background: #eee;
}

table.cargoTable td {
	vertical-align: top;
	padding: 5px;
	border: #ccc 1px solid;
}

span.searchresult {
	font-size: 95%;
}
span.searchmatch {
	font-weight: bold;
}

div.cargoReplacementTableInfo {
	background: #ddd;
	border: 1px solid #bbb;
	padding: 6px;
	margin-bottom: 10px;
}

table.cargoViewDataTable td {
	padding-bottom: 7px;
}
table.cargoViewDataTable input {
	padding: 0.4em;
}