/**
 * The main CSS file for the Cargo extension's drill-down functionality.
 *
 * Based heavily on the Semantic Drilldown extension's SD_main.css file.
 */

/* Normal (sidebar) display of tables list */
div#drilldown-tables-wrapper {
	float: right;
	background: white;
	padding: 0px 25px 25px 25px;
}

ul#drilldown-tables {
	border: 2px #888888 solid;
	list-style: none;
}

ul#drilldown-tables li {
	padding: 3px 8px 3px 8px;
	margin: 0px;
	list-style-image: none;
}

p#tables-header {
	font-weight: bold;
}

ul#drilldown-tables li.tableName {
	border-top: 1px #aaaaaa solid;
	background: #e9e9e9;
}

ul#drilldown-tables li.selected {
	background: white;
}

ul#drilldown-tables li.selected a {
	color: #222;
}

div#drilldown-format-tabs-wrapper,
#drilldown-tables-tabs-wrapper {
	border-bottom: 1px solid #c8ccd1;
	margin-bottom: 1em;
}

div#drilldown-header {
	font-size: large;
	font-weight: bold;
}

span.drilldown-header-value {
	font-weight: normal;
}

div.drilldown-filters-wrapper {
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	background-color: #f8f9fa;
	color: #54595d;
	padding: 0.6em;
	margin-top: 1em;
}

span.drilldown-or {
	color: gray;
	font-weight: normal;
}

div.drilldown-filter-label {
	font-weight: bold;
}

span.drilldown-filter-notes {
	font-weight: normal;
}

div.drilldown-filter-values {
}

.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; }
button.ui-button-icon-only {
	width: 1.7em;
	height: 1.5em;
	vertical-align: bottom;
	margin-top: 0.2em;
}

/* Tabs */
.drilldown-tabs {
	width: 100%;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
	background: url(break.png) no-repeat bottom left;
}

.drilldown-tabs li {
	float: left;
	margin: 0;
	padding: 0 1px 0 0;
	height: 2.25em;
	white-space: nowrap;
	list-style: none none;
	background: url(break.png) no-repeat bottom right, url(fade.png) repeat-x bottom;
}

.drilldown-tabs li:first-child {
	margin-left: 1px;
}

.drilldown-tabs li.selected a {
	background-color: white;
	color: #222;
}

.drilldown-tabs a,
.drilldown-tabs a:active {
	display: inline-block;
	position: relative;
	color: #0645ad;
	text-decoration: none;
	font-size: 0.9em;
	padding: 0.5em;
}

.drilldown-tabs a:hover,
.drilldown-tabs a:focus {
	text-decoration: underline;
}